html
  --main-header-height: 98px
  +r($lg)
    --main-header-height: 80px
  +r($md)
    --main-header-height: 46px

:target
  // not works when anchor element has overflow hidden
  scroll-margin-top: var(--main-header-height)

.main-header
  position: fixed
  backface-visibility: hidden
  z-index: 1000
  left: 0
  top: 0
  width: 100%
  background-color: rgba(0, 0, 0, 0.58)
  color: $c-text
  padding: 24rem 0
  transition-property: box-shadow
  +r($lg)
    padding: 15rem 0
  +r($md)
    padding: 5rem 0
  &__content
    display: flex
    justify-content: space-between
    align-items: center
  &__logo,
  &__logo-img
    width: 52px
    height: auto
    +r($md)
      width: 32px
  &__logo-link
    &:hover
      opacity: 0.75
  &__aside
    display: flex
    align-items: center
    gap: 15px
  &__phone
    font-size: 30rem
    +r($xl)
      font-size: 25rem
  &__phone-link
    display: flex
    align-items: center
    gap: 13rem
    &:hover
      opacity: 0.75
  &__phone-icon
    width: 1em
    height: auto
  &__phone-text
    +r($sm)
      display: none
  &__menu-opener
    +rmin($lg)
      display: none
  &.is-scrolled
    transition: 0.3s
    box-shadow: $box-shadow
    background-color: rgba(80, 80, 80, 0.7)

