// html
//   --main-header-height: 174px
//   +r($xl)
//     --main-header-height: 110px
//   +r($md)
//     --main-header-height: 64px

// .main-header-outer
//   min-height: var(--main-header-height)

:target
  // not works when anchor element has overflow hidden
  scroll-margin-top: var(--main-header-height)

.main-header
  position: fixed
  backface-visibility: hidden
  z-index: 1000
  left: 0
  top: 0
  width: 100%
  background-color: #ffffff
  padding: 30rem 0
  transition-property: box-shadow
  &__content
    display: flex
    align-items: center
  &__logo,
  &__logo-img
    width: 144px
    +r($xxl)
      width: 120px
    +r($lg)
      width: 114px
  &__menu
    margin-left: auto
  &__menu-opener
    margin-left: auto
    +rmin($lg)
      display: none
  &.is-scrolled
    transition: 0.3s
    box-shadow: $box-shadow
    .main-header
      &__logo-img
        width: 100rem
        transition: 0.3s
        // Edge (legacy) flickering fix
        @supports (-ms-ime-align:auto)
          transition: none
