=h1-styles
  font-size: 75px
  font-family: $secondary-font
  font-weight: 400
  line-height: 1
  +r($md)
    font-size: 40px

.h1
  +h1-styles

=h2-styles
  font-size: 60px
  font-family: $secondary-font
  font-weight: 400
  line-height: 1
  +r($md)
    font-size: 30px
.h2
  +h2-styles

=h3-styles
  font-size: 55px
  font-weight: 600
  line-height: 1.09
  +r($md)
    font-size: 22px
.h3
  +h3-styles

=h4-styles
  font-size: 50px
  font-weight: 400
  line-height: 1.09
  +r($md)
    font-size: 30px
.h4
  +h4-styles

=h5-styles
  font-size: 25rem
  font-weight: 700
  line-height: 1.2
.h5
  +h5-styles

=h6-styles
  font-size: 20rem
  font-weight: 700
  line-height: 1.2
.h6
  +h6-styles

.uppercase
  text-transform: uppercase

strong, b
  font-weight: 700

.color-accent
  color: $c-accent
