<footer class="main-footer js-main-footer">
  <div class="main-footer__container container">
    <div class="main-footer__content">
      <div class="main-footer__logo">
        <a href="/" class="main-footer__logo-link">
          <img src="{{ data.img }}/logo.svg" class="main-footer__logo-img" alt="Logo">
        </a>
      </div>

      <span class="js-main-footer__copy-year"></span>
    </div>
  </div>
</footer>
