{% set menu = [
  {
    name: 'About us',
    href: '#about'
  },
  {
    name: 'Artists',
    href: '#artists'
  },
  {
    name: 'Events',
    href: '#events'
  },
  {
    name: 'Location',
    href: '#location'
  }
]%}

<div class="main-header-outer js-main-header-outer">
  <header class="main-header js-main-header">
    <div class="main-header__container container">
      <div class="main-header__content">
        <div class="main-header__logo">
          <a href="/" class="main-header__logo-link">
            <img src="{{ data.img }}/logo.svg" class="main-header__logo-img" alt="Horizon Studio Logo">
          </a>
        </div>
        <nav class="main-header__menu main-menu js-main-menu">
          <div class="main-menu__inner">
            <div class="main-menu__wrapper">
              <div class="main-menu__container container">
                <div class="main-menu__title">Menu</div>
                <ul class="main-menu__list js-main-menu__list">
                  {% for menuItem in menu %}
                    <li class="main-menu__item">
                      <a href="{{ menuItem.href }}" class="main-menu__link">
                        {{ menuItem.name }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </nav>
        <div class="main-header__aside">
          <div class="main-header__phone">
            <a href="tel:5551234567" class="main-header__phone-link">
              <img src="{{ data.img }}/phone.svg" alt="Phone Icon" class="main-header__phone-icon">
              <span class="main-header__phone-text">(555) 123-4567</span>
            </a>
          </div>
          <div class="main-header__menu-opener">
            <button class="menu-opener js-menu-opener">
              <span class="menu-opener__inner js-menu-opener__inner">
                <span class="menu-opener__lines"></span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
