<!-- Form Modal -->
<div class="modal js-modal" data-modal-id="tickets-form">
  <div class="modal__box">
    <div class="modal__content default-modal">
      <div class="default-modal__close-wrapper">
        <button class="default-modal__close js-modal-close" type="button" aria-label="Close">
          <img src="{{ data.img }}/x.svg" alt="Close Icon" class="default-modal__close-icon" aria-hidden="true" width="25" height="25">
        </button>
      </div>
      <div class="default-modal__box">
        <form class="default-modal__form form">
          <h2 class="form__title h2 align-center">Purchase Your Tickets</h2>
          <div class="form__fields fields-set">
            <div class="fields-set__item">
              <label class="form__label label">
                <span class="label__title">Name:</span>
                <input type="text" name="name" class="label__input input" placeholder="Enter your name" required>
              </label>
            </div>
            <div class="fields-set__item">
              <label class="form__label label">
                <span class="label__title">Email:</span>
                <input type="email" name="email" class="label__input input" placeholder="Enter your email" required>
              </label>
            </div>
            <div class="fields-set__item">
              <label class="form__label label">
                <span class="label__title">Phone Number:</span>
                <input type="tel" name="phone" class="label__input input" placeholder="Enter your phone" required>
              </label>
            </div>
          </div>
          <input type="hidden" name="form" class="js-form-name">
          <footer class="form__footer">
            <button class="form__submit button" type="submit">
              Done
            </button>
            <div class="form__footnote">
              Our manager will call you
              Thank you!
            </div>
          </footer>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Form Modal -->