.hero
  text-align: center
  padding-top: calc(var(--main-header-height) + 300rem)
  padding-bottom: 111rem
  background-image: url(../img/_dist/hs-bg.jpg)
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  +r($lg)
    padding-top: calc(var(--main-header-height) + 120rem)
    padding-bottom: 120rem
  &__logo
    margin-bottom: 170rem
    +r($lg)
      margin-bottom: 80rem
  &__logo-img
    width: 582rem
    max-width: 100%
    height: auto
    +r($lg)
      width: 450rem
    +r($sm)
      width: 300rem
  &__slogan
    background-color: rgba(#000000, 0.59)
    padding: 45rem 0
    font-size: 40rem
    line-height: 1.5
    font-weight: 300
    +r($lg)
      font-size: 30rem
      padding: 1em 0

.about
  padding-top: 146rem
  padding-bottom: 120rem
  +r($md)
    padding-top: 55px
    padding-bottom: 50px
  &__photo
    position: relative
    width: 100%
  &__photo-logo
    position: absolute
    height: auto
    top: 0
    left: 50%
    transform: translate(-50%, -50%)
    +r($md)
      width: 123px
      left: 0
      transform: translate(20px, -50%)
  &__photo-img
    display: block
    width: 100%
    height: auto
  &__content
    padding-top: 50rem
    font-size: 25rem
    line-height: 1.6
    font-weight: 300
    +r($md)
      text-align: center
      font-size: 16px
      padding-top: 35px
    .h2
      text-align: center
      margin-bottom: 45rem
      +r($md)
        margin-bottom: 10px

.artists-section
  padding: 80rem 0
  position: relative
  background-image: url(../img/_dist/hs-bg.jpg)
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  overflow: hidden
  +r($md)
    padding: 25px 0 30px
  +r($sm)
    padding: 25px 0 0
  &::before
    content: ""
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    background-color: rgba(0, 0, 0, 0.5)
  &__container
    position: relative
    z-index: 1
  &__title
    margin-bottom: 45rem
    +r($md)
      margin-bottom: 30px

.artists-set
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 40px
  +r($xl)
    grid-template-columns: 1fr
    max-width: 475rem
    margin: 0 auto
    gap: 60px
  +r($md)
    gap: 80px
  &__col
    height: 100%
  &__item
    height: 100%

.artist-item
  display: flex
  flex-direction: column
  &__title
    margin-bottom: 15px
    +r($xxl)
      font-size: 40rem
    +r($md)
      font-size: 30px
  &__text
    font-size: 26rem
    margin-bottom: 0.5em
    font-weight: 300
    +r($xxl)
      font-size: 23rem
    +r($md)
      font-size: 16px
      margin-bottom: 1.5em
  &__slogan
    position: relative
    z-index: 1
    display: flex
    align-items: center
    justify-content: center
    font-family: $secondary-font
    font-size: 24rem
    line-height: 1.6
    background-color: rgba(0, 0, 0, 0.59)
    min-height: 3.7em
    padding: 0.25em 0.5em
    margin-bottom: -1.85em
    text-align: center
    +r($xxl)
      font-size: 21rem
    +r($md)
      font-size: 16px
    +r($sm)
      margin-right: -15px
  &__photo
    margin-top: auto
    +r($sm)
      margin-right: -15px
  &__photo-img
    width: 100%
    height: auto

.events
  padding: 70rem 0 80rem
  +r($md)
    padding: 30px 0 40px
  &__title
    margin-bottom: 50rem
    +r($md)
      margin-bottom: 25rem

.events-set
  display: grid
  grid-template-columns: repeat(2, 1fr)
  gap: 40px
  +r($xl)
    grid-template-columns: 1fr
    margin: 0 auto
    gap: 120px
  +r($md)
    gap: 80px
  &__item
    height: 100%

.event-item
  display: flex
  flex-direction: column
  &__content
    font-size: 28rem
    font-weight: 300
    line-height: 1.4
    +r($xl)
      font-size: 24rem
    +r($md)
      font-size: 22px
    .h3
      margin-bottom: 0.2em
      +r($md)
        margin-bottom: 1em  
    p + p
      margin-top: 0.5em
  &__actions
    margin-top: auto
    padding-top: 25rem
    +r($md)
      padding-top: 30rem
    
  &__photo
    position: relative
    margin-top: 15rem
    +r($md)
      margin-top: 30rem
    +r($sm)
      margin-left: -15px
      margin-right: -15px
  &__photo-img
    width: 100%
    height: auto
  &__logo
    position: absolute
    bottom: 0
    left: 50%
    transform: translate(-50%, 50%)
    width: 300px
    height: auto
    +r($md)
      width: 123px
    +rmin($xl)
      display: none