---
title: Horizon Studio
description: Horizon Studio. Where creativity meets craftsmanship. Discover unique art pieces, custom commissions, and immersive workshops that inspire and connect. Join us on a journey beyond the horizon of creativity!
---
{% extends "layouts/_layout.njk" %}

{% block content %}
  <!-- Hero Section -->
  <section class="hero">
    <div class="hero__container container">
      <div class="hero__logo">
        <h1 class="visually-hidden">Horizon Studio</h1>
        <img src="{{ data.img }}/logo-large.svg" alt="Horizon Studio Full Logo" class="hero__logo-img">
      </div>
    </div>
    <div class="hero__slogan">
      <div class="hero__slogan-container container">
        <span class="hero__slogan-text">Expanding the boundaries of artistic vision</span>
      </div>
    </div>
  </section>
  <!-- /Hero Section -->

  <!-- About Section -->
  <section class="about">
    <div class="about__photo">
      <img src="{{ data.img }}/logo-large.svg" alt="Horizon Studio Logo" class="about__photo-logo" width="272" height="72">
      {{ mixins.webpPicture(path = "/about-photo.jpg", pictureClass = "about__photo-pic", imgClass = "about__photo-img", alt="Horizon Studio Photo", lazyLoading = true, lazySizes = {w: 1444, h: 409}) }}
    </div>
    <div class="about__container container">
      <div class="about__content">
        <h2 class="h2">About Us</h2>
        <p>Horizon Studio is a place where art meets the soul. We’ve created a space for artists to express their visions and for visitors to immerse themselves in beauty, emotion, and creativity. Our mission is to discover and support artists from around the globe.</p>
        <p>At Horizon Studio, art is about more than just what you see—it's what you feel. Each piece tells a story, and we curate exhibitions that reflect diverse voices and perspectives. We provide a platform for both emerging and established artists, offering exhibitions, workshops, and talks that inspire and connect our community.</p>
      </div>
    </div>
  </section>
  <!-- /About Section -->

  <!-- Artists Section -->
  {% set artists = [
    {
      name: 'Liam Crawford',
      text: 'A visionary painter whose abstract landscapes evoke the beauty of nature and the complexity of human emotion. ',
      slogan: 'I paint not what I see, but what I feel.',
      photo: '/artist-1.png' 
    },
    {
      name: 'Isabella Laurent',
      text: 'Known for her delicate, yet powerful portraits, Isabella captures the essence of her subjects with an ethereal touch.',
      slogan: 'Every face tells a story; my goal is to listen and translate it into art.',
      photo: '/artist-2.png' 
    },
    {
      name: 'Mateo Santos',
      text: "A sculptor inspired by modern architecture and organic forms, Mateo's work bridges the gap between structure and fluidity.",
      slogan: 'Art is where geometry meets the heart.',
      photo: '/artist-3.png' 
    }
  ]%}
  <section class="artists-section">
    <div class="artists-section__container container">
      <h2 class="artists-section__title h2 align-center">
        Our Artists
      </h2>
      <div class="artists-section__set artists-set">
        {% for item in artists %}
          <div class="artists-set__col">
            <div class="artists-set__item artist-item">
              <h3 class="artist-item__title h4">{{ item.name }}</h3>
              <div class="artist-item__text">
                {{ item.text }}
              </div>
              <div class="artist-item__slogan">
                {{ item.slogan }}
              </div>
              <div class="artist-item__photo">
                {{ mixins.webpPicture(path = item.photo, pictureClass = "artist-item__photo-pic", imgClass = "artist-item__photo-img", alt=item.name + " Photo", lazyLoading = true, lazySizes = {w: 420, h: 504}) }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- /Artists Section -->

  <!-- Events Section -->
  {% set events = [
    {
      title: 'Contemporary Visions Exhibition',
      date: 'October 15 – November 1, 2024',
      location: 'Horizon Studio, Main Gallery',
      description: 'A collection of works by emerging contemporary artists exploring modern identity and global issues through various mediums.',
      photo: '/event-1.jpg'
    },
    {
      title: 'Echoes of the Earth Exhibition',
      date: 'December 1 – December 15, 2024',
      location: 'Horizon Studio, Main Gallery',
      description: 'A captivating showcase of artists reflecting on environmental themes and sustainability through innovative  art pieces.',
      photo: '/event-2.jpg'
    }
  ]%}
  <section class="events">
    <div class="events__container container">
      <h2 class="events__title h2 align-center">
        Events
      </h2>
      <div class="events__set events-set">
        {% for item in events %}
          <div class="events-set__item event-item">
            <div class="event-item__content">
              <h3 class="h3">{{ item.title }}</h3>
              <p>
                <strong>Date:</strong>
                {{ item.date }}
              </p>
              <p>
                <strong>Location:</strong>
                {{ item.location }}
              </p>
              <p>
                <strong>Description:</strong>
                {{ item.description}}
              </p>
            </div>
            <div class="event-item__actions align-center">
              <a href="#" class="event-item__actions-btn button">Buy Tickets</a>
            </div>
            <div class="event-item__photo">
              {{ mixins.webpPicture(path = item.photo, pictureClass = "event-item__photo-pic", imgClass = "event-item__photo-img", alt=item.title + " Photo", lazyLoading = true, lazySizes = {w: 651, h: 287}) }}
              <img src="{{ data.img }}/logo-large.svg" alt="Horizon Studio Logo" class="event-item__logo" width="123" height="54">
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- /Events Section -->

  <!-- Location Section -->
  <section class="location">
    <div class="location__container container">
      <h2 class="location__title h2 align-center">Location</h2>
      <div class="location__grid">
        <div class="location__descr">
          <p>
            <strong>Hours of Operation:</strong>
            <br>
            Monday to Friday: 10:00 AM – 6:00 PM
            <br>
            Saturday: 11:00 AM – 5:00 PM
            <br>
            Sunday: Closed
          </p>
          <p>
            For any inquiries about our location or directions, please contact us at <a href="mailto:horizonstudio@gmail.com">
              <strong>horizonstudio@gmail.com</strong>
            </a> or call <a href="tel:5551234567">
              <strong>(555)&nbsp;123&#8209;4567</strong>
            </a>.
          </p>
        </div>
        <div class="location__map">
          <div class="location__map-el js-location__map-el"></div>
          <div class="location__map-text">
            123 Art Lane, Creative District, City Name, State, ZIP Code
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Location Section -->

  
{% endblock %}

{% block scripts %}
    <!-- The API key domains are restricted for security reasons. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB085BXVxbkkOmvRbyq72Ce9F3deBcLF28"
      defer
    ></script>
{% endblock %}