---
title: Horizon Studio
description: Horizon Studio is a modern art gallery showcasing contemporary and classic artwork. Explore a diverse collection of paintings, sculptures, and mixed media by talented artists. Join us for exhibitions, workshops, and art events that inspire creativity and appreciation for the arts.
---
{% extends "layouts/_layout.njk" %}

{% block content %}
<div style="height: 150vh; background-color: lightgray">
</div>
<div class="container">
  <div class="row">
    <div class="col-xxl-9">1</div>
    <div class="col-xl-4">2</div>
    <div class="col-xl-4">3</div>
    <div class="col-xl-4">4</div>
  </div>
</div>
{% endblock %}
