---
title: Horizon Studio
description: Horizon Studio. Where creativity meets craftsmanship. Discover unique art pieces, custom commissions, and immersive workshops that inspire and connect. Join us on a journey beyond the horizon of creativity!
---
{% extends "layouts/_layout.njk" %}

{% block content %}
  <section class="hero">
    <div class="hero__container container">
      <div class="hero__logo">
        <img src="{{ data.img }}/logo-large.svg" alt="Horizon Studio Full Logo" class="hero__logo-img">
      </div>
    </div>
    <div class="hero__slogan">
      <div class="hero__slogan-container container">
        <span class="hero__slogan-text">Expanding the boundaries of artistic vision</span>
      </div>
    </div>
  </section>
{% endblock %}
